/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    #logo .logo {
        max-width: 100%;    
    }
    #logo {
        width: 30%;
    }
    #home,section{padding: 0px 11px;}
    .scroll-btn {padding: 1em 0 0 0;}
    .partners .list-unstyled li:nth-child(2),.partners .list-unstyled li:nth-child(3),.partners .list-unstyled li:nth-child(4) { padding-top: 20px; }
    .section-text p { font-size: 15px; }
    ul.list-unstyle li { font-size: 15px; }
    ul.list-unstyle li::before {
        padding: 0 5px 0 0;
        font-size: 15px;
    }
    #services {
    height: auto;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    padding: 0 10px;
    }
    .conversion, .angle-wrapper{padding: 0px;}
    #services .section-text h3 {
        padding-top: 50px;
    }
    .package-price {
        font-size: 45px;
    }
    .package-mnth {
        font-size: 20px;
    }
    .offer-img img {
        width: 10%;
    }
    .package-small-text {
        font-size: 15px;
    }
    .package-old-price {
        font-size: 21px;
    }
    .offer-text {
        font-size: 16px !important;
    }
    .offer-bottom-text {
        max-width: 60%;
    }
    #process {
    background: url('../images/pattren.svg') no-repeat, linear-gradient(to right,rgb(33, 150, 243) 100%,
    white 50%) !important;
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-position: 100% 1% !important;
    }
    .testimonial .pic {
        width: 100% !important;
        padding: 0px !important;
        margin-top: 0.5rem !important;
    }
    .client {
        padding: 0 !important;
        width: 100% !important;
        color:#fff;
    }
    .testimonial .pic img {
        height: 350px !important;
    }
    .testimonial-content {
        width: 100% !important;
        padding: 0px !important;
    }
    .testimonial .testimonial-title {
        color:#fff !important;
    }
    .testimonial .testimonial-title i{
        color: hsla(206, 89%, 54%, 1);
    }
    .owl-theme .owl-controls {
        width: 100% !important;
        margin-top: 0px !important;
    }
    .owl-prev::before, .owl-next::before {
        color: #fff !important;
    }
    .testimonial .description {
        font-size: 18px;
        color: #fff;
    }
    .copy-right {
        text-align: center;
    }
    .social {
        text-align: center !important;
        margin: auto;
        margin-bottom: auto;
        width: 40%;
        margin-bottom: 55px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        float: none !important;
        padding-left:0 !important;
    }
    .paral h1 {
        padding-top: 0px !important;
        line-height: 50px !important;
        padding-bottom: 10px;
    }
    .paral p {
        line-height: 25px;
    }
    .lead a {
        margin-top: 20px;
    }
    .contact-info p a, .contact-info p, ul.links li a {
        width: 100%;
    }
    #software {
        padding: 85px 11px;
    }
    .section-text {
        margin-top: 35px !important;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
{ 
    .onoffswitch {
        left: 15px;
    }
    .package-price {
        font-size: 40px;
    }
    .offer-bottom-text {
        max-width: 70%;
    }
    .testimonial .pic img {
        height: 315px !important;
        width: 315px !important;
    }
    .paral h1 {
        font-size: 35px;
    }
    #logo .logo {
        max-width: 100%;
    }
    .menu-dropdown-section .ico {
        height: 0vh;
    }
    .menu-dropdown-section {
        padding: 15px 1px;
    }
    .slider-info {
        margin-bottom: 25px;
    }
    ul.list-unstyle {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    }
    .head-bnr{max-width: 100%;}
    .free-text {
        font-size: 13px;
        text-align: center;
    }
    .offer-text {
        font-size: 14px !important;
    }
    .package-price {
        font-size: 35px !important;
    }
    .package-old-price {
        font-size: 21px;
        margin-bottom: 25px !important;
    }
    .offer-bottom-text {
        max-width: 70% !important;
    }
    .social {
        width: 47% !important;
    }
    #software {
        padding: 85px 11px;
    }
    .section-text {
        margin-top: 35px !important;
    }
    .section-left {
    padding: 10px;
  }
  .vl {
     display: none;
  }
  .inputGroup label {
    padding: 20px 10px;
    font-size: 14px;
  }
  .inputGroup label::after {
    width: 80px;
    height: 30px;
    right: 10px;
    font-size: 13px;
    line-height: 27px;
  }
  .section-right {
    padding: 40px 10px 15px 10px;
  }
  .plan-table {
    padding: 0 15px;
  }
  p.total-price {
    font-size: 35px;
    margin: 15px 0;
  }
  .form {
    margin:0px auto 50px;
    font-size: 18px;
    }
    section.process {
        margin-top: 50px;
        padding-bottom: 0px !important;
    }
    section#process {
        margin-top: 0px;
    }
    .login-icon a, .login-icon a:hover {
        padding: 10px 35px;
    }
    .software {
        background:#fff;
    }
    .holiday {
        height: 700px;
    }
    .localnumber-text-section {
        margin-top: 60px !important;
        margin-bottom: 30px !important;
    }
    .demo-request {
       padding: 3rem 0 3rem !important;
    }
    .money-section {
        margin-bottom: 25px;
        padding: 10px;
        border-left: 3px solid transparent;

    }
    .money-section .ico {
        margin-bottom: 0;
    }
    .row.price-text-section .title-section h3.heading {
        font-size: 32px !important;
        margin-top: 0px !important;
    }
    h3.bottom-line,
    h3.bottom-line span {
        font-size: 30px !important;
    }
    .tracking-left-section {
        padding: 0px;
        min-height: 130px;
    }
    .tracking-left-section {
        padding: 0px;
        min-height: 130px;
    }
    #contactus-form {
        padding: 0 15px;
    }
    .diff-main-sec {
        margin-bottom: 35px;
    }
    .diff-main-sec .tracking-left-section .ico {
        margin-bottom: 35px;
        width: 100%;
        text-align: center;
    }
    .diff-main-sec .title {
        width: 100%;
        text-align: center;
    }
    .diff-main-sec .tracking-left-section .desc {
        padding-right: 0;
        font-size: 15px !important;
        text-align: center;
    }
    .conversion-right-img,
    .conversion-left-img {
        background: #fff;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
{ 
    #logo {
        width: 55%;
    }
    .head-bnr {
        max-width: 100%;
    }
    .banner-info-grid h2 {
        font-size: 1.5em;
        line-height: 35px;
    }
    .scroll-btn {
        padding: 3em 0 0 0;
    }
    h3.tittle-w3 {
        font-size: 1.5em;
    }
    .section-text p {
        font-size: 15px;
        margin-top: 5px !important;
    }
    ul.list-unstyle li {
        font-size: 14px;
    } 
    ul.list-unstyle li::before { 
        padding: 0 5px 0 0;
    }
    #services {
        -webkit-clip-path: polygon(0 0%, 100% 3%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0%, 100% 3%, 100% 100%, 0% 100%);
    }
    .rs-container {
        width: 96% !important;
        margin: auto;
    }
    .testimonial {
        padding: 0;
    }
    .testimonial .pic {
        width: 48%;
       }
    .testimonial-content {
        width: 47%;
    }
    .client {
        padding: 0px 50px 0px 0px;
        width: 46%;
    }
    .testimonial .pic img {
        width: 315px;
        height: 310px;
    }
    .owl-theme .owl-controls {
        width: 50%;
        margin-top: -60px !important;
    }
    .jumbotron {
        padding: 4rem 2rem !important;
    }
    .paral h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .paral p {
        font-size: 17px;
        line-height: 50px;
    }
    .btn.custom-btn {
        padding: 13px 35px;
    }
    .onoffswitch {
        left: 80px;
    }
    .price-text-section {
        padding: 0px 0 15px;
    }
    .form {
        padding: 25px 5px;
        margin: 0px auto;
        font-size: 18px;
    }
    .select-boxes {
        font-size: 17px;
    }
    .section-left {
        padding: 0 35px 0 0px;
    }
    .section-right {
        padding: 0 0px 0 35px;
    }
    .inputGroup label {
        padding: 20px 7px;
        font-size: 13px;
    }
    .inputGroup label:after {
        width: 100px;
        right: 10px;
        font-size: 13px;
    }
    .inputGroup i {
        font-size: 14px;
    }
    h3.bottom-line::after {
        margin-bottom: 30px;
    }
    .money-section .ico {
        margin-bottom: 0px;
    }
    .holiday{background: #fff;}
    .vl.client-sec {
        display: none;
    }
    .local-number {
        background-position: 4%;
        background-size: 40%;
    }
    .localnumber-text-section {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    .different-sec-img img {
        padding: 25px;
    }
    .diff-main-sec .title {
        font-size: 17px !important;
    }
    .desc {
        padding-right: 0px;
    }
    .tracking-left-section {
        padding: 0px;
    }
    .diff-main-sec {
        margin-bottom: 20px;
    }
    .referral-banner .slider-info a.btn, .call-tracking-banner .slider-info a.btn, .advance-banner .slider-info a.btn {
        padding: 10px 20px;
        font-weight: 700;
        padding: 10px 17px;
        margin-right: 0px;
        border: 2px solid #fff;
        margin-bottom: 15px;
    }
    .angle-wrapper {
        margin: 10% 0 5% 0;
    }
    .tracking-left-section .ico img {
        width: 90%;
    }
    #button {
        top: 50%;
        left: 45%;
    }
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1200px)
    {
    .vl.client-sec {
        display: block;
    }
    .holiday {
        background: url('../images/holiday.png');
        background-repeat: repeat;
        background-repeat: no-repeat;
        padding: 0 !important;
        height: 690px;
        background-position: -70px;
        background-size: 60%;
    }
    .funded-ref {
        background: url('../images/Group3.svg');
        background-repeat: repeat;
        background-repeat: no-repeat;
        padding: 0 !important;
        height: 690px;
        background-position: -14px -40px;
        background-size: 50%;
    }
    .funded-ref .holiday-text-section {
        margin-top: 0px !important;
    }
    .advance-page-section h3 {
        font-size: 31px;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 35px !important;
    }
    #services {
        margin-top: -108px;
        padding-bottom: 80px;
    }
    .holiday-text-section {
        margin-top: 100px !important;
    }
    .advance-page-section p.advance-page-desc {
        font-size: 15px;
    }
    .money-section .ico {
        margin-bottom: 125px;
    }
    .referral-banner .slider-info a.btn, .call-tracking-banner .slider-info a.btn, .advance-banner .slider-info a.btn {
        margin-right: 10px;
    }
    .tracking-left-section .ico {
        margin-bottom: 95px;
    }
    .tracking-left-section {
        padding: 10px;
    }
    .localnumber-text-section {
        margin-bottom: 135px !important;
    }
    .tracking-left-section {
        padding: 10px;
    }
    .diff-main-sec .title {
        font-size: 21px !important;
    }
    .desc {
        font-size: 16px !important;
    }
     .banner-image img {
        left: 0%;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1224px) {
    .mega-dropdown-menu ul {
        padding-left: 0px;
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 1 0 16.666667%;
        flex: 1 0 16.666667%;
        max-width: 18.667%;
    }
    .banner-image img {
        left: 12%;
    }
}
@media only screen 
and (min-width : 1224px) {
    .mega-dropdown-menu ul {
        padding-left: 0px;
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 1 0 16.666667%;
        flex: 1 0 16.666667%;
        max-width: 18.667%;
    }
    .banner-image img {
        left: 12%;
    }
}
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {

.holiday {
    background: #fff;
}
}