/*body {
    background-image: url(../images/home.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}*/

body {
    font-size: 14px;
    color: #494949;
}

/*Extra CSS*/

.container_909 {
    max-width: 909px;
}


h1.main_heading {
    font-size: 77px;
}

.btn-primary {
    background-color: #5BBC2E;
    border-color: #5BBC2E;
}

.btn {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    max-width: 100%;
    width: 150px;
}

.btn-primary {
    background-color: #5BBC2E;
    border-color: #5BBC2E;
}

.btn-primary:hover {
    background-color: #4a9826;
    border-color: #4a9826;
}

.bg-primary {
    background-color: #5BBC2E !important;
}

.btn-outline-primary {
    border-color: #5BBC2E;
}


.text-primary {
    color: #5BBC2E !important;
}

.text-primary,
.link,
a {
    color: #5BBC2E;
}

a.link2 {
    color: #01bafb;
}

.bg-dark {
    background-color:#303342 !important;
}

.bg_grey, 
.jumbotron {
    background-color: #E6E6E6;
}

.ptb_140_130 {
    padding:150px 0px 130px 0px
}

.f_36_40 {
    font-size: 36px;
    line-height: 40px;
}

.line_right {
    position: relative;
}

.line_right:after {
    content: "";
    display: block;
    width: 3px;
    height: 44px;
    background: #fff;
    position: absolute;
    right: -16px;
    top: 6px;
}

.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

img.blur {
    top:-10px;
}

.w_440 {
    width: 440px;
    max-width: 100%;
}

/*CSS Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    margin-right: 5px;
    margin-bottom: 0;
    top: -2px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
  background-color: #2196F3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

/*Tab Bar Design*/

.tab_bar_design {
    padding: 0px;
}

.tab_bar_design li a {
    background: #ccc;
    display: inline-block;
    width: 6px;
    height: 6px;
}

.tab_bar_design li {
    display: inline-block;
    text-align: center;
    width: 34px;
    margin: -8px 11px -4px 12px;
}

.tab_bar_design li:first-child {
    margin-left: 0;
}


.tab_bar_design li:last-child {
    margin-right: 0;
}

.tab_bar_design li a.active {
    width: 30px;
    height: 30px;
    background: #5BBC2E;
    border: 12px solid #fff;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
} 



/*Slick Slider*/
.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 40px;
    line-height: 1;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: "‹";
}

[dir="rtl"] .slick-prev:before {
    content: "›";
}

[dir="rtl"] .slick-next {
    left: -10px;
    top: 70px;
    right: auto;
}

.slick-next:before {
    content: "›";
}

[dir="rtl"] .slick-next:before {
    content: "‹";
}



/*Header*/
.header_design1 .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 12px;
    padding: 18px 10px;
    font-weight: normal;
    margin-right: 80px;
}

.header_design1 a.nav-link {
    border-top: 3px solid transparent;
}

.header_design1 a.nav-link:hover {
    border-top: 3px solid #5BBC2E;
}

.header_design1 li.nav-item a.btn {
    margin: 10px 0;
}

.header_design1 li.nav-item a.phone_number {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    margin: 10px 0 13px 90px;
}

/*Banner */

.banner_card {
    margin-top: 125px;
}

.banner_card:before {
    content: "";
    display: block;
    width: 3px;
    height: 160px;
    position: absolute;
    left: -24px;
    background: #5BBC2E;
}

/*Background Full Image*/
.bg_image_full{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
} 

/*Login Logout Button*/
.fixed_top_right.login_button {
    top: 30px;
    z-index: 9999;
    width: 100px;
    right: 44px;
}


/*Heading Style*/
.heading_style {
    width: 100%;
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #5BBC2E;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;
}

.heading_style.type_2:before {
    display: block;
    content: "";
    border-top: 3px solid #5BBC2E;
    border-bottom: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    max-width: 36px;
    top: unset;
    margin-top: -2px;
    height: 0;
    bottom: -20px;
}

.heading_style.type_2.text-center:before {
    left: 50%;
    margin-left: -25px;    
}


.heading_style.type_2.text-white:before {
    border-color:#ffffff;   
}


/*About Section*/
.section-about img.position-absolute {
    left: 0;
    top: 0;
}

/*Brands Section*/
.section-brands .col img {
    max-width: 200px;
    max-height: 40px;
}

/*Tools Section*/
.section-tools .pricing_card1 {
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.2);
    margin-right: 60px;
}

.section-tools  .pricing_card1 .card-title {
    font-size: 12px;
}

.section-tools .pricing_card1 .card-price .price {
    font-size: 60px;
}

.section-tools ul li svg.fa-info,
.section-tools ul li i.fa-info {
    border: 1px solid #a2a2a2;
    color: #a2a2a2;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%;
    padding: 5px 0 0 0;
    font-size: 10px;
    position: relative;
    left: 8px;
    top: 0px;
}

.section-tools  .go_ahead_box {
    bottom: 22px;
    left: 96px;
}

.section-tools .go_ahead_box .card-body {
    padding: 40px 30px;
}

/*Testimonials*/
.section-testionials .img-thumbnail {
    background: transparent;
    padding: 6px;
}

.testimonials_card1 .card-icon {
    font-size: 24px;
    opacity: 0.5;
}

.section-testionials .slick-prev, .section-testionials .slick-next {
    top: unset;
    bottom: 15px;
    left: 50%;
}

.section-testionials .slick-prev {
    margin-left: -20px;
}

.section-testionials .slick-next {
    margin-left: 20px;
}

/*Subcription*/
.section-subscription .form-control {
    border-color: #ffffff;
}

.section-subscription input::placeholder {
    color:#fff;
}

/*Footer CSS*/
.footer_style1 ul li a {
    color: #494949;
}

.footer_style1 ul li .social_links a {
    background: #E6E6E6;
    padding: 8px 0;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.footer_style1 ul li .social_links a:hover {
    background: #d6d4d4;
}

.footer_style1 ul.address li {
    padding-left: 34px;
    position: relative;
}

.footer_style1 ul.address li svg,
.footer_style1 ul.address li i {
    position: absolute;
    left: 5px;
    top: 9px;
    font-size: 16px;
}



/*Responsive*/

@media all and (min-width: 787px) {
    .scrolled .header_design1.fixed_bottom {
        bottom: unset !important;
        top: 0 !important;
        position: fixed !important;
    }

    .scrolled .header_design1 a.nav-link {
        padding: 15px 10px !important;
        color: #fff !important;
    }

    .scrolled .fixed_top_right.login_button {
        top: 10px;
    }

    .scrolled header .text-white {
        color: #fff !important;
    }
}

/*Mobile Devices*/
@media all and (max-width: 580px) {


}
